**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/search-data.js
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss

# Ignore Jekyll-specific folders
_layouts/
_includes/
_sass/
_site/

# Ignore content files that have complex front matter and Liquid
_posts/
_pages/
*.html

# Ignore config files
_config.yml
Gemfile
Gemfile.lock