
        *{
            font-family: "Times New Roman", Times, serif, Arial, Helvetica, "Courier New";
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #FAF9F6;
            margin: 0;
            padding: 0;
            line-height: 2.0;
            text-align: justify;

        }
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        header h1 {
            font-size: 36px;
            margin: 0;
        }
        nav {
            background-color: #444;
            text-align: center;
            padding: 10px 0;
        }
        nav a {
            text-decoration: none;
            color: #fff;
            margin: 0 10px;
        }
        section {
            max-width: 1000px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
        }
        footer {
            text-align: center;
            padding: 10px 0;
            background-color: #333;
            color: #fff;
        }

         /* Style for the About Me section */
         .about-section {
            display: flex;
            align-items: center;
            text-align: justify;

        }
        .about-image {
            width: 250px;
            height: 250px;
            margin-right: 20px;
        }

        .text-small{
            font-size: small;
        }

        a{
            text-decoration:none;
        }