
        *{
            font-family: "Times New Roman", Times, serif, Arial, Helvetica, "Courier New";
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #FAF9F6;
            margin: 0;
            padding: 0;
            line-height: 2.0;
            text-align: justify;
            width: 100%;

        }
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            width: 100%;
        }
        header h1 {
            font-size: 36px;
            margin: 0;
        }
        nav {
            background-color: #444;
            text-align: center;
            padding: 10px 0;
            width: 100%;
        }
        nav a {
            text-decoration: none;
            color: #fff;
            margin: 0 10px;
        }
        section {
            max-width: 1000px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
        }
        footer {
            text-align: center;
            padding: 10px 0;
            background-color: #333;
            color: #fff;
        }

         /* Style for the About Me section */
         /* .about-section {
            display: flex;
            align-items: top;
            text-align: justify;

        } */
        .about-image {
            align-items:center;
            width: 200px;
            height: auto;
            margin: 20px;
        }

        /* Default styles for the container and boxes */
        .container {
            display: flex; /* Display children side by side */
            justify-content: center; /* Space them apart */
            align-items: center;
        }


        .box1 {
            width: auto; 
            margin: 5px; 
            /* border: solid; */
        }


        .box2 {
            width: auto; 
            /* border: solid; */
        }

        .text-small{
            font-size: small;
        }

        a{
            text-decoration:none;
        }

        .sidebar {
            position: fixed;
            top: 50%; /* Adjust as needed for vertical positioning */
            left: 0;
            transform: translateY(-50%);
            background-color: #333;
            color: #fff;
            padding: 10px;
            border-radius: 0px 25px 25px 0px;
            font-size: 16px;
        }
        
        .sidebar ul {
            list-style: none;
            padding: 0;
        }
        
        .sidebar li {
            margin-bottom: 10px;
        }
        
        .sidebar a {
            text-decoration: none;
            color: #fff;
        }

        /* Styles for mobile devices */
        @media (max-width: 1200px) {
            /* Mobile and tablet styles here */
            *{
                font-size: small;
            }
            .text-small{
                font-size: xx-small;
            }

            sup{
                font-size: xx-small;
            }
        
            section{
                width: auto;
            }
            .sidebar{
                display: none;
            }

            .about-image{
                max-width: 100%; /* Ensure the image doesn't exceed the container width */
                max-height: 100%; /* Ensure the image doesn't exceed the container height */
            }

            .container {
                flex-direction: column; /* Stack children on top of each other */
            }
    
            .box1, .box2 {
                width: auto; /* Make them full width in mobile view */
                /* border: solid; */
            }
        }